<!doctype html>
<html>

{% include 'head.html' %}

<head>
<script>

  $(document).ready(function() {
      var config = {
          pageLength: 100,
          select: 'single',
          fixedHeader: true,
          colReorder: true,
      };
      var table_txns = $('#chain_transactions').DataTable(config);
      config.bFilter = false;
      var table_summary = $('#chain_summary').DataTable(config);
      InstallDataTableFocus(table_txns);

      // Emphasize some columns of the table.
      $(table_summary.column(':contains(pnl_chain)').nodes()).addClass('emph-column');
      $(table_summary.column(':contains(tgtinit%)').nodes()).addClass('emph-column');
  });

</script>

<style>
  table#pnl_split {
      border-collapse: collapse;
  }
  table#pnl_split td {
      border: thin solid black;
      padding: 0 0.5em 0 0.5em;
  }
</style>

</head>

<body>
{% include 'navigation.html' %}
<h1>Chain Detail: {{ chain_id }}</h1>

<!-- Link to render proto -->
<a href="{{ chain_proto }}">Proto</a>

<!-- Render comment -->
<p class="comment">{{ comment }}</p>

<!-- Render xrefs -->
{% if xrefs %}
<p id="xrefs">Xref:
{% for xref in xrefs %}
<a href="{{ url_for('chain', chain_id=xref) }}">{{ xref }}</a>
{% endfor %}
</p>
{% endif %}

<!-- Render a single row table for the chain's data -->
<div id="_chain_summary">
{{ chain|safe }}
</div>

<!-- Render a table of all the transactions involved -->
<div id="_chain_transactions">
{{ transactions|safe }}
</div>

<!-- Render bisected P/L between static and dynamic deltas -->
<div id="_chain_pnl_split">
<table id="pnl_split">
  <tr><td>Static P/L</td><td>{{pnl_static}}</td></tr>
  <tr><td>Dynamic P/L</td><td>{{pnl_dynamic}}</td></tr>
</table>
</div>

<!-- Render an abbreviated chain history -->
<div id="_chain_history">
{{ history|safe }}
</div>

<!-- Render a graphical chain history -->
<div id="chain_graph">
<img src="{{ graph }}"/>
</div>

</body>
</html>
