<div id="navigation">
  <a href="{{page_active}}">active-chains</a>
  <a href="{{page_expiring}}">expiring-chains</a>
  <a href="{{page_recap}}">recap</a>
  <a href="{{page_chains}}">chains</a>
  <a href="{{page_closed}}">closed-chains</a>
  <a href="{{page_autoids}}">autoids-chains</a>
  <a href="{{page_transactions}}">transactions</a>
  <a href="{{page_positions}}">positions</a>
  <a href="{{page_stats}}">stats</a>
  <a href="{{page_timeline}}">timeline</a>
  <a href="{{page_leverage}}">leverage</a>
</div>
