<!doctype html>
<html>

{% include 'head.html' %}

<head>
<style>

  table#stats {
      border-collapse: collapse;
  }
  table#stats td {
      border: thin solid black;
      padding-left: 0.7em;
      padding-right: 0.7em;
  }

</style>

<script>

  function sumFloat(a, b) { return (parseFloat(a) + parseFloat(b)).toFixed(2); }
  function sumInt(a, b) { return parseInt(a) + parseInt(b); }

  $(document).ready(function() {
      var table = CreateChainsTable('#chains');
  });

</script>
</head>

<body>
{% include 'navigation.html' %}
<h1>Statistics</h1>

{{ stats_table|safe }}

<img src="{{ pnlhist }}"></img>
<img src="{{ pnlpctinit }}"></img>
<img src="{{ pnlinit }}"></img>

{{ chains|safe }}

</body>
</html>
