<!doctype html>
<html>

{% include 'head.html' %}

<head>
<style>

  table#stats {
      border-collapse: collapse;
  }
  table#stats td {
      border: thin solid black;
      padding-left: 0.7em;
      padding-right: 0.7em;
  }

</style>

<script>

  $(document).ready(function() {
      var table = CreateChainsTable('#chains');
  });

</script>
</head>

<body>
{% include 'navigation.html' %}
<h1>Statistics</h1>

<table>
  <tr>
    <td>
{{ stats_table|safe }}
    </td>

    <td><img src="{{ pnlhist }}"></img></td>
    <td><img src="{{ pnlpctinit }}"></img></td>
    <td><img src="{{ pnlinit }}"></img></td>
  </tr>
</table>

{{ chains|safe }}

</body>
</html>
